@import '../../variables.scss';

.header {
  width: 775px;
  height: 212px;
  margin-bottom: 60px;
  position: relative;

  @media screen and (max-width: 1439px) {
    margin-bottom: 65px;
  }

  @media screen and (max-width: 1279px) {
    max-width: 243px;
    max-height: 64px;
    margin-bottom: 24px;
  }

  &__text {
    font-family: Ubuntu;
    font-style: normal;
    font-weight: 600;
    font-size: 102px;
    line-height: 122px;
    color: $base-weak;

    @media screen and (max-width: 1279px) {
      font-size: 32px;
      line-height: 32px;
    }
  }

  &__text_right {
    margin-left: auto;
    position: absolute;
    right: 0;
    bottom: 0;
  }
}
