@import '../../variables.scss';

.result7days {
  width: 104%;
  height: 263px;
  border-radius: 8px;
  position: relative;

  &__slider {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    padding-bottom: 25px;
  }

  &__line {
    width: 1310px;
    height: 100%;
    display: flex;
    position: relative;
    left: 0;
  }

  &__btns {
    display: flex;
    justify-content: space-between;
    position: absolute;
    width: 108%;
    left: -34px;
    bottom: 50%;
    transform: translate(0, 50%);

    button {
      background: none;
      border: none;
      cursor: pointer;
      color: $secondary06;

      &:hover {
        color: $secondary;
      }

      &:active {
        color: $secondary;
      }
    }
  }

  &__forecast {
    margin: 0 5px;

    &:first-child {
      margin-left: 0;
    }

    &:last-child {
      margin-right: 0;
    }

    &:nth-child(3) {
      margin-right: 0;
    }

    &:nth-child(4) {
      margin-left: 40px;
    }
  }
}
