@import 'fonts';
@import 'variables';

* {
  font-family: 'Ubuntu', sans-serif;
  box-sizing: border-box;
  font-weight: 400;
  font-size: 16px;
}

body,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

a {
  text-decoration: none;
}

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

button {
  padding: 0;
}

html,
body,
#root {
  height: 100%;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 65px 45px 16px;
  width: 100%;
  min-height: 100%;
  background-color: $accent;
  background-image: url('./assets/background/Academy-Weather\ forecast-Bg-buttom@2x.png'),
    url('./assets//background//Academy-Weather\ forecast-Bg-up-1.png');
  background-repeat: no-repeat no-repeat;
  background-position: left 0px bottom 0px, right 0px top 0px;
  background-size: 1612px 1203px, 1625px 1206px;

  @media screen and (max-width: 1439px) {
    background-position: left -50px bottom 0px, right -200px top -20px;
    background-size: 1612px 1203px, 1625px 1236px;
  }

  @media screen and (max-width: 1279px) {
    padding: 32px 10px 16px;
    background-position: left -30px bottom -30px, right 0px top 0px;
    background-size: 900px 800px, 445px 415px;
  }
}
