$accent: #373af5;
$secondary: #8083a4;
$secondary02: rgba(128, 131, 164, 0.2);
$secondary04: rgba(128, 131, 164, 0.4);
$secondary006: rgba(128, 131, 164, 0.06);
$base-strong: #2c2d76;
$critic: #e5596d;
$base-weak: #ffffff;
